<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <style>
  .container{
    display: flex;
    flex-wrap: wrap;
  }
  .container>div{
    background-color: springgreen;
    font-size: :20px;
    margin:20px;
    padding: 20px;
    width: 60px;
  }
  @media(min-width:600px)
  {
    body{
      background-color: white;
    }

  }
@media(max-width:599px)
{
body{
  background-color: teal;
}

}
  </style>
  </head>
  <body>
     <h1 style="text-align:center">
    Enter Flight Details
</h1>


<form >

  <div style="text-align:center;">
    <input type="text" name="origin" placeholder="origin" width="30px" > <br><br>
    <input type="text" name="destination" placeholder="destination" width="30px"><br><br>
    <input  type="text" name="minutes" placeholder="duration" width="30px"><br><br>
    </div>
<br>
    <div class="form-group" style="text-align:center;">
      <button class="btn btn-primary">Add Flight</button>
      </div>

      </form>

<body>

</body>
</html>
